<%= form_with url: password_resets_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-controll textarea border' %>
  </div>
  <%= f.submit '送信', class: 'btn' %>
<% end %>