<% content_for(:title, t('common_titles.password_change')) %>
<div class="flex justify-center items-center min-h-[calc(100vh-160px)]">
  <div class="p-10 text-base bg-white border shadow rounded-lg relative">
    <div class="flex justify-center">
      <i class="fa-solid fa-envelope text-3xl border p-3 rounded-full absolute top-0 -mt-7 bg-white"></i>
    </div>
    <p class="m-5">入力されたメールアドレスにメールを送信しました。</p>
    <p class="m-5">メールの案内に従って、パスワードの変更を行ってください。</p>
  </div>
</div>