<div class="flex flex-col items-center justify-center w-full border shadow-lg bg-white md:text-xl font-semibold ">
  <h1>test</h1>
  <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
    <a href="#slide2" class="btn btn-circle bg-white">❮</a>
    <a href="#slide4" class="btn btn-circle bg-white">❯</a>
  </div>
</div>