<div class="flex flex-col items-center justify-center w-full border shadow-lg bg-white md:text-xl font-semibold ">
  <h1 id="welcome" class="text-3xl md:text-8xl text-center font-bold my-8 animate-tracking-in-expand">Welcom to<br>DeskTech-Connect!!</h1>
  <%= image_tag 'logo', class: "h-36 md:h-44" %>
  <div class="flex flex-col items-center w-2/3">
    <p class="text-center underline decoration-dotted decoration-2 underline-offset-8 pt-8">あなたはどんなデスクで仕事や趣味を楽しんでいますか？</p>
    <p class="text-center underline decoration-dotted decoration-2 underline-offset-8 py-8">他の人はどんなデスクで仕事や趣味をしているのだろう、<br>と思ったことはありませんか？</p>
    <p class="text-center underline decoration-dotted decoration-2 underline-offset-8">自分のデスク写真や実際に使用しているアイテムを登録して、<br>共有することができるアプリです。</p>
    <%= link_to t('defaults.login'), login_path, class: "base-btn my-10" %>
  </div>
  <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
    <a href="#slide4" class="btn btn-circle bg-white">❮</a>
    <a href="#slide2" class="btn btn-circle bg-white">❯</a>
  </div>
</div>