<div class="flex flex-col items-center justify-center w-full border shadow-lg bg-white text-xl font-semibold">
  <%= link_to 'みんなの投稿を見る', posts_path, class: 'base-btn' %>
  <%= link_to 'アカウント登録', new_users_path, class: 'base-btn' %>
</div>
<div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
  <a href="#slide1" class="btn btn-circle">❮</a>
  <a href="#slide3" class="btn btn-circle">❯</a>
</div>