<div class="carousel w-full h-screen touch-pan-y">
  <div id="slide1" class="carousel-item relative w-full">
    <%= render 'slide1' %>
  </div>
  <div id="slide2" class="carousel-item relative w-full">
    <%= render 'slide2' %>
  </div>
  <div id="slide3" class="carousel-item relative w-full">
    <%= render 'slide3' %>
  </div>
  <div id="slide4" class="carousel-item relative w-full">
    <%= render 'slide4' %>
  </div>
</div>