<%= turbo_frame_tag 'user-email' do %>
  <div class="flex my-4 w-auto justify-between">
    <p class="my-1"><i class="fa-solid fa-envelope pr-3"></i>メールアドレス</p>
    <p class="btn btn-sm ml-4"><%= link_to '変更', edit_users_path, data: { turbo_frame: 'user-email' } %></p>
  </div>
  <p class="w-full text-center border rounded p-4 bg-white"><%= user.email %></p>
<% end %>