<% content_for(:title, t('.title')) %>
<% breadcrumb :my_post %>
<div class="flex justify-center items-center text-xl md:text-2xl">
  <div class="border rounded-full bg-white py-3 px-4 relative right-24 md:right-28 z-10">
    <i class="fa-solid fa-desktop"></i>
  </div>
  <h1 class="absolute font-semibold shadow-lg border border-slate-300 py-2 px-5 rounded-full bg-slate-100 "><%= t('.title') %></h1>
</div>
<%= render 'shared/search', q: @q, url: posts_users_path %>
<% if @posts.present? %>
  <%= render 'shared/posts', posts: @posts, pagy: @pagy %>
<% else %>
  <%= render 'no_posted_message' %>
<% end %>