<%= turbo_frame_tag 'error_message' do %>
  <% if object.errors.any? %>
    <div id="error_messages" class="bg-red-100 text-lg text-red-700 px-5 py-5 mb-5 rounded-xl relative">
      <ul class="mb-0">
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>