<%= turbo_frame_tag 'flash_messages' do %>
  <div data-controller="flash-message">
    <% flash.each do |message_type, message| %>
      <% if message_type == 'success' %>
        <div class="flex justify-center">
          <div role="alert" class="bg-green-200 text-green-700 py-3 px-8 rounded-lg absolute top-5" data-flash-message-target="message"><%= message %></div>
        </div>
      <% else %>
        <div class="flex justify-center">
          <div role="alert" class="bg-red-200 text-red-700 py-3 px-8 rounded-lg absolute top-5" data-flash-message-target="message"><%= message %></div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>