<footer class="footer footer-center py-4 bg-slate-100 border-t shadow-inner">
  <nav class="flex gap-5">
    <%= link_to t('footer.terms_of_service'), terms_of_service_tops_path, class: "link link-hover" %>
    <%= link_to t('footer.privacy_policy'), privacy_policy_tops_path, class: "link link-hover" %>
    <%= link_to t('footer.contacts'), 'https://docs.google.com/forms/d/e/1FAIpQLSdcoluqNbg0c5PrSj22jBY5KUSUB9HnmZNekGE5nPq1vVUoTg/viewform?usp=sharing', target: :_blank, rel: "noopener noreferrer", class: "link link-hover" %>
  </nav>
</footer>