<footer class="footer footer-center pl-2 py-2 bg-slate-100 border-t shadow-inner">
  <nav class="flex gap-5">
    <%= link_to t('footer.terms_of_service'), '#', class: "link link-hover" %>
    <%= link_to t('footer.privacy_policy'), '#', class: "link link-hover" %>
    <%= link_to t('footer.contacts'), '#', class: "link link-hover" %>
  </nav>
</footer>