<div class="grid grid-cols-1 px-4 gap-3 pb-3 md:grid-cols-3" >
  <%= render partial: 'shared/post_card', collection: posts %>
</div>
<%= render 'shared/next_page', { pagy: pagy, turbo_frame_id: turbo_frame_id } %>