<%= turbo_frame_tag dom_id(my_desk) do %>
  <li class="border-b shadow">
    <div class="flex ">
      <%= link_to my_desk.name, my_desk_path(my_desk.id), data: { turbo_frame: "my-desk-content" }, class: "w-full block" %>
      <div class="dropdown dropdown-bottom md:dropdown-right">
        <div tabindex="0" role="button" class="">
          <i class="fa-solid fa-ellipsis"></i>
        </div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-1 shadow rounded-box w-20 md:w-32">
          <li>
            <%= link_to t('.edit'), edit_my_desk_path(my_desk) %>
          </li>
          <li>
            <%= link_to t('.destroy'), my_desk_path(my_desk), data: { turbo_method: :delete } %>
          </li>
        </ul>
      </div>
    </div>
  </li>
<% end %>