<div class="bg-slate-300 flex items-center justify-center gap-3 text-white text-lg px-5 py-14 my-14 rounded-xl">
  <i class="fa-solid fa-circle-exclamation text-white"></i>
  <p>登録されているアイテムがまだありません。</p>
</div>