<i class="fa-regular fa-circle-question cursor-pointer text-xl text-gray-400 hover:text-blue-500" onclick="my_modal_2.showModal()"></i>
<dialog id="my_modal_2" class="modal">
  <div class="modal-box text-base">
    <div class="my-5 border-b pb-3">
      <h2 class="text-lg font-semibold">STEP1</h2>
      <div class="ml-3">
        <p>自分のデスク画像をアップロードしてください。</p>
        <p class="text-red-500">※アップロードできる拡張子は、jpeg jpg png のみです。</p>
      </div>
    </div>
    <div class="border-b pb-3">
      <h2 class="text-lg font-semibold">STEP2</h2>
      <p class="ml-3">デスク画像のおすすめポイントを入力してください。</p>
    </div>
    <div class="my-5">
      <h2 class="text-lg font-semibold">STEP3</h2>
      <div class="ml-3">
        <p>デスクに使用しているアイテムを検索して登録してください。</p>
        <p>アイテム追加ボタンを押すと、検索画面が開きます。</p>
        <p>検索後、アイテムをクリックorタップするとアイテムを追加することが可能です！</p>
      </div>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>