<% content_for(:title, t('.title')) %>
<% if current_user %>
  <% breadcrumb :posts_index %>
<% end %>
<div class="flex justify-center items-center text-xl md:text-2xl">
  <div class="border rounded-full bg-white py-3 px-4 relative right-24 md:right-28 z-10">
    <i class="fa-solid fa-desktop"></i>
  </div>
  <h1 class="absolute font-semibold shadow-lg border border-slate-300 py-2 px-8 rounded-full bg-slate-100 "><%= t('.title') %></h1>
</div>
<%= render 'shared/search', q: @q, url: posts_path %>
<%= turbo_frame_tag "posts-page-#{@pagy.page}" do %>
  <%= render 'shared/posts', posts: @posts, url: posts_path, pagy: @pagy, turbo_frame_id: 'posts' %>
<% end %>