<%= render 'search', q: @q, url: posts_path %>
<h1 class="text-3xl font-bold text-center p-3">みんなの投稿一覧</h1>
<div class="grid grid-cols-2 gap-3 pb-3 md:grid-cols-3" >
  <%= render partial: 'posts/post', collection: @posts %>
</div>