<% breadcrumb :new_post %>
<div class="flex text-3xl items-center justify-center gap-2 m-5">
  <i class="fa-solid fa-pen-to-square"></i>
  <h1 class="text-center font-bold">新規投稿</h1>
</div>
<%= render 'posts/form' %>