<% content_for(:title, t('.title')) %>
<% breadcrumb :new_post %>
<div class="flex text-3xl items-center justify-center gap-2 m-5">
  <i class="fa-solid fa-pen-to-square"></i>
  <h1 class="text-center font-bold"><%= t('.title') %></h1>
  <%= render 'explanation' %>
</div>
<%= render 'posts/form' %>