<footer class="footer pl-2 py-2 bg-neutral text-neutral-content justify-center">
  <nav class="items-center">
    <%= link_to 'お問い合わせ', '#', class: "link link-hover" %>
    <%= link_to '利用規約', '#', class: "link link-hover" %>
    <%= link_to 'プライバシーポリシー', '#', class: "link link-hover" %>
  </nav>
</footer>