<header class="navbar flex items-center justify-between mx-auto bg-neutral">
  <%= link_to 'DeskTech-Connect', root_path, class: 'text-3xl font-bold text-neutral-content' %>
  <div class="relative dropdown dropdown-left">
    <div tabindex="0" role="button" class="btn">
      <i  class="fa-solid fa-bars fa-2xl"></i>
    </div>
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
      <li><a>Login</a></li>
      <li><a>Sign in</a></li>
    </ul>
  </div>
</header>
